.main {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 25;
   position: fixed;
   background-color: hsla(0, 0%, 23%, 0.26);
}
.mainBody {
   display: block;
   margin: 2rem auto auto;
   background-color: var(--white);
   border-radius: 0.2rem;
   max-width: 85%;
   padding: 0.5rem;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.heading {
   font-size: 1.5rem;
   font-weight: 500;
}
.image {
   width: 100%;
   max-width: inherit;
   height: auto;
}
.info {
   color: var(--dark);
}
.info span {
   font-size: 0.9rem;
   font-weight: 600;
   color: var(--light);
}
